.Button {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.2em .8em;
    border: solid 1px #424242;
    outline: none !important;
    background: #660033;
    color: #cae8cb;
    cursor: pointer;
    transition: all .3s;
}
.Button:hover {
    color: #4CAF50;
}
.Button:active {
    background: #4CAF50;
    color: #cae8cb;
}