@font-face {
    font-family: 'Highspeed';
    src: url(../fonts/HIGHSPEED.TTF);
}
.Header {
    font-family: 'Highspeed', cursive;
    font-size: 2.8em;
    text-align: center;
    color: #660033;
    margin: 0;
}