.Cell {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-left: solid 1px black;
    border-top: solid 1px black;
    margin: 0;
    float: left;    
}
.alive {
    background: black;
}